

 img{
max-width: 100%;

 }



body{
	font-family: sans-serif;
	margin:0px;
	padding: 0px;
}

.Layout{
	height: 500px;
	padding-top:200px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;  

}

.Layout p{
	text-align: center;
	color: white;
	font-size: 2.5em;

}

.DivTexto {

	background-color: black;

}

.Destaque{
	padding: 150px 0px 150px 0px;/*box model*/
	max-width: 1024px;
	margin: 0 auto;
}

.doidera{
color: white;
}


/* FORMULARIO DE CONTATO */
#contato{
	width: 60%;
	margin: 0 auto;
	margin-top: 45px;
}

#contato input[type=text]{
	width: 100%;
	padding: 10px;
	border-radius:5px;
	border: 1px solid: #ff0000;
	margin-bottom: 20px;
}

#contato textarea{
	width: 100%;
	padding: 10px 10px 80px 10px;
	border-radius:5px;
	border: 1px solid: #ff0000;
	margin-bottom: 20px;
	resize: none;
}

#contato input[type=submit]{
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid: #ffffff;
	padding: 10px 25px 10px 25px;
	color: #000000;
}

/* FIM DO FORMULARIO CONTATO */

/* CONTEUDO */

.imagem1{
	text-align: center;
	position: relative;
	padding: 30px;

}

.h1conteudo{
	margin-top: 25px;
	text-align: center;
}

.h2conteudo{
	position: relative;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 25px;
	font-size: 0.775em;
	padding: 20px;
}

.h3conteudo{
	margin-top: 25px;
	margin-left: 150px;
	margin-right: 150px;
	position: relative;
	padding: 20px;
	font-size: 0.985em;

}

/* FIM DO CONTEUDO */



/**** Titulo (Meliodas) *****/
.teste{
	margin-top: -300px;
	margin-left: 10px;
	padding: -10px;
	color: #ffffff;
	font-size: 40pt;
/**** Texto abaixo do titulo ****/
}

.teste2{
	margin-top: 20px;
	margin-left: 10px;
	color: #ffffff;
}

/**** Botao detalhes ******/
.botao{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 1195px;
	bottom: -320px;
}

.botao2{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 1195px;
	bottom: -1400px;

}

/***** imagem de fundo ******/
.foda{
	/*width: 250px;*/
	margin-left: -230px;
	margin-top: -130px;
}

.doidera{
	
	margin-top: 10px;
	margin-left: 10px;
	color: #ffffff;
}

.mec{
margin-top: -300px;
margin-left: 10px;
color: #ffffff;

}


.h1sobre{

margin-top: 50px;
margin-left: 620px;
/*position: fixed;*/
}

.h1sobre1{
	
margin-left: -80px;
margin-top: -30px;


}


.h2sobre{

margin-top: 80px;
margin-left: 600px;

}

.h3sobre{

margin-top: 20px;
margin-left: 650px;

}


.git{

float: right;
margin-right: 730px;
margin-top: 330px;
}


.gif{

	margin-top: 10px;
	margin-left: 540px;
}

.ninjamock{

	margin-top: 230px;
}

.hosp{

margin-left: 1250px;
margin-top: -350px;
}


.meligod{
	padding: 10px;
	margin-left: 620px;
}

.ban{
	margin-left: 300px;
	padding: 10px;
}

.diane{
	padding: 10px;
	margin-left: 300px;
}

.logo{
	margin-top: 10px;

}


.social{
	position: fixed;
	right: 0;
	top: 200px;
	z-index: 2000;
}

.social ul{
	list-style: none;
}

.social ul li a{
	display: inline-block;
	text-decoration: none;
	padding: 5px;
}

.text{

color: black;

}
/* MENU */

.side-menu-wrapper { /* style menu wrapper */
	background: rgba(0,0,10,.95);
	padding: 40px 0 0 40px;
	position: fixed; /* Fixed position */
	top: 0;
	left: 0; /* Sidebar initial position. "right" for right positioned menu */
	height: 100%;
	z-index: 2;
	transition: 0.5s; /* CSS transition speed */
	width: 200px;
	font: 20px "Courier New", Courier, monospace;
	box-sizing: border-box;

}

.side-menu-wrapper > ul{ /* css ul list style */
	list-style:none;
	padding:0;
	margin:0;
    overflow-y: auto; /* enable scroll for menu items */
	height:95%;

}
.side-menu-wrapper > ul > li > a { /* links */
    display: block;
    border-bottom: 1px solid #131313;
    padding: 6px 4px 6px 4px;
    color: #ffffff;
    transition: 0.3s;
	text-decoration: none;

}
.side-menu-wrapper > a.menu-close { /* close button */
    padding: 8px 0 4px 23px;
    color: #ffffff;
    display: block;
    margin: -30px 0 -10px -20px;
    font-size: 35px;
    text-decoration: none;

}


.menu-overlay { /* overlay */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;

}

.menu-open{
	    display:block;
		background-color: #000000;
		color: #ffffff;
		text-decoration: none;
		padding: 15px;
}

/* Classe usada pelo JS para fixar o menu */
.Fixar{
	position: fixed;
	top: 0;
	z-index: 3;
}
nav li:hover ul{
	display: none;

}

nav ul li a:hover{
	background-color: #00bfff;
	transition: all 0.27s; /* efeito transição (0 a 1) */
	
}



/* FIM DO MENU */




/* LOGO */

.Logo{
	background-color:#000000;
}
.logo2{
	margin-left: 15px;
	margin-top: 10px;
}

/* FIM DO LOGO */



/***** fim página dos pecados *******/	


/*************Moble************/
@media screen and (max-width: 1024px){

/* PAGINA PECADOS */

.meligod{
	margin-left: 350px;
}
.ban{
	margin-left: 550px;
	margin-right: 160px;
	margin-top: -20px;
}
.merlin{
	margin-left: 145px;
}
.king{
	margin-left: 145px;
}
.diane{
	margin-left: 145px;
	margin-right: 195px;
	margin-top: -800px;
	float: left;
}
.gowther{
	margin-left: 145px;

}
.escanor{
	margin-left: 565px;
	margin-top: -390px;
	margin-bottom: 20px;
}
.gif{

	margin-left: 250px;
}
.foda{
	margin-left: 50px;

}
.teste{
	margin-left: 400px;
	margin-top: -300px;

}

.teste2{
	margin-left: 300px;
	margin-top: 0px;
}
.botao{
	margin-bottom: 125px;
	right: 620px;
}
.botao2{
	margin-bottom: 90px;
	right: 620px;
}

.mec{

margin-top: -300px;
margin-left: 350px;

}

}





@media screen and (max-width: 768px){
/* PAGINA PECADOS */

.meligod{
	margin-left: 35px;
}
.ban{
	float: right;
	margin-right: 45px;
	margin-top: -410px;

}
.merlin{
	margin-left: 45px;
}
.king{
	margin-left: 405px;
	margin-top: -400px;
}
.diane{
	margin-top: 10px;
	float:right;
	margin-right: 45px;
	
}
.gowther{
	margin-left: 70px;
	float: left;
	margin-top: -410px;

}
.escanor{
	margin-left: 50px;
	margin-top: 50px;
	
}
.gif{
   margin-left: 140px;
}

.foda{
	margin-left: 280px;

}

.teste{
	
	margin-left: 260px;
	margin-top: 50px;

}

.teste2{
	
	margin-left: 90px;
	

}
.botao{
	
	right: 350px;
	margin-bottom: -400px;
}

.botao2{
	
	right: 350px;
	margin-bottom: -850px;
}

.mec{

	margin-left: 250px;
	margin-top: 50px;
}

}


/* FIM DA PAGINA PECADOS */



/*3°Ponto de quebra*/
@media screen and (max-width: 480px){

/* Página dos pecados */
.meligod{
	margin-left: 75px;
}
.ban{
	margin-right: 90px;
	margin-top: 10px;
}
.merlin{
	margin-left: 95px;
	margin-top: 10px;
}
.king{
	margin-top: 10px;
	margin-left: 75px;
}
.diane{
	margin-top: 10px;
	margin-right: 90px;

}
.gowther{
	margin-top: 10px;
	margin-left: 100px;
}
.escanor{
	margin-top: 10px;
	margin-left: 90px;
}
.gif{
	
	width: 433px;
	margin-left: 25px;
	}

/*Fim dos pecados*/

.h1conteudo{
	margin-left: 10px;
	margin-top: -10px;
	padding: 10px;
}
.h2conteudo{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -10px;
	padding: 0px;
	text-align: center;
}

.h3conteudo{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -10px;
	padding: 0px;
	text-align: center;
}


.imagem1{
	margin-left: 50px;
	
}

.melideus{

width: 435px;
margin-left: -80px;
}

.ira{

width: 435px;
margin-left: -80px;

}


.pecado{

width: 435px;
margin-left: -20px;
	
}

.aniver{

width: 435px;
margin-left: -20px;

}

.manda{
width: 435px;
margin-left: -20px;

}

.tatto{
width: 435px;
margin-left: -20px;
	}

.treta{
width: 435px;
margin-left: -20px;
	}

	.foda{
	margin-left: 150px;
	margin-bottom: -100px;
	}

	.teste{
	margin-top: 100px;
	margin-left: 135px;

	}

	.teste2{
  margin-left: 10px;

	}

	.botao{
	margin-bottom: -450px;
	right: 190px;
	}

	.botao2{
	margin-bottom: -870px;
	right: 195px;
	}


	.mec{

		margin-left: 100px;
		margin-top: 120px;
	}
}































